.container{
    width: 500px;
    margin: 20px;
    margin-left: calc(50vw - 250px);
    display: flex;
    justify-content: center;
    padding: 20px;
    border: rgb(209, 209, 209) solid 1px;
}

.contrato {
    display: flex;
    flex-wrap: wrap;
}