.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #3737376b;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.modal-container {
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.modal-button button {
    margin: 10px;
}

.modal-button button a {
    color: white;
}