.form-titulo {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #494949;
    padding-left: 10px;
}

.form{
    display: flex;
    flex-wrap: wrap;
}

.form-subtitulo{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #494949;
    font-weight: 500;
    padding-left: 10px;
    margin-top: 30px;
}

.inputs{
    margin: 0 10px;
    min-width: 30%;
}

.inputs:nth-child(1){
    width: 300px;
}

.button-group {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.button-group button {
    margin: 15px;
}

@media (max-width: 797px){
    .container {
        padding: 0;
        border: none;
        margin: 10px;
    }
}

@media (max-width: 735px) {
    .MuiFormControl-root, .MuiInputBase-root{
        width: 29vw !important;
    }
    .form {
        justify-content: space-around;
    }
}

@media (max-width: 680px) {
    .MuiFormControl-root, .MuiInputBase-root{
        width: 43vw !important;
    }
}

@media (max-width: 536px) {
    .MuiFormControl-root, .MuiInputBase-root{
        width: 80vw !important;
    }
    .form-subtitulo, .form-titulo{
        width: 80vw;
        margin: auto;     
        padding: 10px 0;   
    }
}
