.contratos-lista {
    margin: 0;
    padding: 0;
    width: 700px;
}

.contratos {
    margin-top: 20px;
    text-decoration: none;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.contratos:hover{
    background-color: rgb(240, 240, 240);
}

.contratos div{
    margin: 0;
    padding: 0;
}

.contratos div p {
    margin: 0 8px;
    color: #494949;
}

.contrato-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contrato-empresas{
    display: flex;
}

.contrato-empresas p {
    font-weight: 600;
    color: #494949;
}

.contrato-dados {
    display: flex;
}

.buttom-group {
    color: #494949;
    display: flex;
    flex-direction: column;
}

.buttom-group svg {
    color: #494949;
}

.buttom-group svg:first-child {
    margin-bottom: 5px;
    transform: scale(95%);
}

.buttom-group svg:hover {
    color: #6b6b6b
}